<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/fontawesome.min.js" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Overview | {{name}}</title>
</head>
<body class="w-75 mx-auto">
    <h1 class="m-5 text-center">PVM Tests van {{name}}</h1>

    <ul class="d-flex flex-row justify-content-around list-unstyled">
        <!-- data = (actual, max) -->
        {% with data=assertions_data, text="Assertions" %}
            {% include 'circleprogress.html' %}
        {% endwith %}

        {% with data=testcases_data, text="Test Cases" %}
            {% include 'circleprogress.html' %}
        {% endwith %}

        {% with data=testfiles_data, text="Test Files" %}
            {% include 'circleprogress.html' %}
        {% endwith %}
    </ul>

    <ul class="list-group mx-5 accordion">
        {%- for key, value in ul.items() recursive%}
            {%-if not ".cpp" in key %}
                <li class="list-group-item bg-light">
                    <h3 class="toggle">{{key}}</h3 >
                    <ul class="list-group inner">
                        {{loop(value.items())}}
                    </ul>
                </li>
        {%- else  %}
                <li class="list-group-item">
                    {{value}}
                    <span class="float-right">
                        {% if (value in user_files) %}
                        &#10004;
                        {% else %}
                        &times;
                        {% endif %}
                    </span>
                </li>
            {%- endif %}
        {%- endfor %}
    </ul>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jqueryui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="../static/js/detail.js"></script>

</body>
</html>