<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Overview | lem-onade</title>
</head>
<body>
    <h1>PVM Tests van Stijn Taelemans</h1>
    <h2>15% van tests slaagt</h2>

    <ul>
        <li class="sidebar-dropdown">
            <span>onderdeel-01</span>
            <ul class="sidebar-submenu">
                <li>
                    <span>subonderdeel-01</span>
                    <ul>
                        <li>test-01</li>
                    </ul>
                </li>
            </ul>
        </li>
</body>
</html>